@model StudentAppMvc.Models.ViewModel.StudentViewModal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row student-form">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> @Html.DisplayNameFor(model => model.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="@Model.Classes"></select>
            </div>
            <div class="form-group mt-4">
                <input type="hidden" asp-for="NameSortOrder" />
                <input type="hidden" asp-for="SearchString" />
                <input type="hidden" asp-for="CurrentPage" />
                <input type="submit" value="Update" class="btn btn-primary" />
                @*<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>*@
                @Html.ActionLink("Back to List", "Index", "TahhStudents", new {
                    sortOrder = @Model.NameSortOrder, searchString = @Model.SearchString, page = @Model.CurrentPage
                }, new { @class = "btn btn-outline-primary" }),
            </div>
        </form>
    </div>
</div>



