@model StudentAppMvc.Models.ViewModel.DepartmentListViewModel

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Departments</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
       <a asp-action="Create">Create New</a>
    </p>    
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DepartmentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <text>
                        <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
                    </text>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
