@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Student> students = ViewBag.StudentList;
    string keyword = ViewBag.Keyword;
}
<h1>The list of students</h1>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Department
            </th>
            <th>Email</th>
            <th>Stduent Account</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student item in students)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Id)*@
                    @item.Id
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @item.Name
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Description)*@
                    @item.Description
                </td>
                <td>
                    @item.Department
                </td>
                <td>
                    @item.Email
                </td>
                <td>@item.StudentAccount</td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete this student?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>