@using StudentAppMvc.Models.ViewModel
@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Classes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @Model.WelcomeMsg
</div>

@{
    if (Model.ClassList != null&& Model.ClassList.Count > 0)
    {
      <table class="table">
        <thead>
            <tr>
                <th>
                    Class Name
                </th>
                <th>
                    Department Info
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
    @foreach (var item in Model.ClassList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
</table>
    }
}

