@model StudentAppMvc.Models.ViewModels.StudentViewModel

@{
}

<h1>Student Details</h1>

<hr />
<dl class="row">
    <dt class="col-sm-3">
        <label asp-for="Name" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-3">
        <label asp-for="Description" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Description
    </dd>
    <dt class="col-sm-3">
        <label asp-for="DateOfBirth" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.DateOfBirth
    </dd>
    <dt class="col-sm-3">
        <label asp-for="Gender" class="control-label"></label>
    </dt>
    @{
        string gender = Model.Gender ? "Male" : "Female";
    }
    <dd class="col-sm-10">
        @gender
    </dd>
    <dt class="col-sm-3">
        <label asp-for="Email" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Email
    </dd>
    <dt class="col-sm-3">
        <label asp-for="StudentAccount" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.StudentAccount
    </dd>
    <dt class="col-sm-3">
        <label asp-for="AssignedSubjectAndTeacherNames" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @{
            if (Model.AssignedSubjectAndTeacherNames.Count == 0)
            {
                <span>No subject assigned.</span>
            }
            else
            {
                <ul>
                    @{
                        foreach (string subjectName in Model.AssignedSubjectAndTeacherNames.Keys)
                        {
                            <li>@subjectName - @Model.AssignedSubjectAndTeacherNames[subjectName]</li>
                        }
                    }
                </ul>
            }
        }

    </dd>
</dl>
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>
