@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Management";
    List<Student> students = (List<Student>)ViewData["Students"]!;
}


<h2>This page is for Ming's Student Management</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search for Student</label>
                @{
                    if (!ViewData.ContainsKey("searchName"))
                        ViewData["searchName"] = "";
                    <input id="searchName" name="searchName" class="form-control" value = @ViewData["searchName"]></input>
                }
                
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<h4>Welcome students: </h4>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>StudentAccount</th>
    </tr>
    @{
        if (students.Count == 0)
        {
            <tr>
                <td colspan=7>No student found.</td>
            </tr>
        }
        foreach (Student student in students)
        {
            string gender = student.Gender ? "Male" : "Female";
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Description</td>
                <td>@student.DateOfBirth?.ToString("dd/MM/yy")</td>
                <td>@gender</td>
                <td>@student.Email</td>
                <td>@student.StudentAccount</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> | 
                    <a asp-action="Detail" asp-route-id="@student.Id">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@student.Id" onclick="return confirm('Are you sure to delete this student?');">Delete</a>
                </td>
            </tr>
        }
    }
</table>
<br />
<div>
    <a asp-action="Create">Create Student</a> | <a asp-action="Index" asp-route-latestCount=5>Get last 5 students</a> | <a asp-action="Index">Get all students</a>
</div>